@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
/*font-family: 'Shizuru', cursive;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shizuru', cursive;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container > h1{
    padding: 1%;
}
.img_grid{
    background-color: aqua;
    max-width: 70%;
    padding: 1%;

    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.img_grid > img{
    width: 100%;
    
    justify-self: center;
    border-radius: 1em;
    transition: 0.05s ease-in-out;
}
    .img_grid > img:hover{
        transform: scale(1.1);
    }
